.html
  .head
    %title Ryan Matt | Software Engineer, Web Developer
    %link{rel:"stylesheet", href:"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"}
  .body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
    .container
      %h1 Ryan Matt
      %h2 Software Engineer and Web Developer
      .positions
        %h3 Positions
        %ul
          %li Altamira
          %li TASC
          %li TASC
          %li Abraxas
      .education
        %h3 Education
        %ul 
          %li University of Virginia, School of Engineering and Sciences, BS Computer Science, 2013
          %li Lake Braddock Secondary School, Advanced Studies Diploma, 2008
      .skills
        %h3 Programming Languages and Tools
        %ul
          %li Extensive experience with Ruby on Rails, MySQL, JavaScript, HTML and CSS
          %li Experienced with Java, Python, Matlab
          %li Preferred Tools: Vim, Sublime Text, Git, Heroku and various command line tools
          %li Experienced with Eclipse, Subversion, Amazon Web Services

